$dialog-border-radius: 4px;
$dialog-card-subtitle-padding: 0 24px 20px !default;
$dialog-card-text-padding: 0 24px 20px !default;
$dialog-card-title-font-size: 1.25rem;
$dialog-card-title-font-weight: 500;
$dialog-card-title-letter-spacing: normal !important;
$dialog-card-title-padding: 16px 24px 10px !default;
$dialog-elevation: 24 !default;
$dialog-margin: 24px !default;
$dialog-max-height: 90% !default;